<section class="vh-100" style="background-color: #d5d8dc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Admin LogIn</h3>
             <form  action="/login-admin" method="post">
            <div class="form-outline mb-4">
              <input type="username" name="adminusername" id="adminusername" class="form-control form-control-lg" />
              <label class="form-label" for="username">Username</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password"  name="adminpassword" id="adminpassword" class="form-control form-control-lg" />
              <label class="form-label" for="typePasswordX-2">Password</label>
            </div>

            <!-- Checkbox -->

            {{!-- <p id="error-message" class="text-danger"></p> --}}
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            <p style="font-weight:500;  font-size:16" class="text-danger">{{errmsg}}</p>

          </form>
        

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{!-- <script src="/javascripts/admin-validation.js"></script> --}}






